<main class="global__container">
  <div class="container">
    <!-- formulario -->
    <form method="" action="" class="container__form">
      <input
        type="text"
        class="container__form__input js-input-name"
        value=""
        placeholder="¿Qué serie buscas?"
      />
      <button class="container__form__button-search js-btn-search">
        Buscar
      </button>
    </form>

    <!-- lista de pelis favoritss -->
    <aside class="aside">
      <h2 class="aside__fav__title">Mis series favoritas</h2>
      <ul class="aside__fav__list"></ul>
    </aside>
  </div>

  <!-- lista de pelis -->
  <section class="movie">
    <ul class="movie__list js-series-elements"></ul>
  </section>
</main>
