.header {
  &__title {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    color: #e2d38f;
    font-family: $primary-font;
    font-weight: bold;
  }
}

.global__container {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 30vw;

  &__form {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__input {
      font-family: $primary-font;
      font-weight: 400;
      font-size: 1em;
      padding: 0 10px;
      width: 80%;
      background-color: #979487;

      @media all and (min-width: 768px) {
        padding: 0px;
        width: 100%;
        font-size: 2em;
      }
    }
    &__button-search {
      font-family: $primary-font;
      font-weight: 400;
      font-size: 2em;
      background-color: #e2d38f;
      color: #444341;
    }
  }
}

::placeholder {
  color: #444341;
  font-family: $primary-font;
  font-size: medium;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}

.aside {
  &__title {
    text-align: left;
    margin-top: 30px;
    color: #e2d38f;
  }
  &__list {
    list-style: none;
    padding: 0px;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 10px 0;
      width: 100%;

      &__img {
        width: 63px;
        height: 88px;
      }
      &__title {
        padding: 0 10px;
        color: #979487;
      }
      &__delete {
        background: #979487;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

.movie__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  padding: 0px;

  &__item {
    background: #31323a;
    margin: 5px;
    padding: 10px;

    &__title {
      color: #e2d38f;
      text-align: center;
      font-size: 1em;
      max-width: 147px;
    }

    &__img {
      align-items: center;
      justify-content: center;
      width: 147px;
      height: 206px;
    }
  }
}

.js-fav {
  background: #979487;
}
